<form #form="ngForm" (ngSubmit)="submit(form)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div class="formgroup">
      <label for="firstName">First Name</label>
      <input required minlength="3" maxlength="15" pattern="ghost" ngModel name='firstName' id='firstName' type="'text'" #firstName='ngModel'
        (change)="log(firstName)" class="form-control">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors.required">First Name is required</div>
        <div *ngIf="firstName.errors.minlength">First Name should be minumum of {{firstName.errors.minlength.requiredLength}} characters</div>
        <div *ngIf="firstName.errors.pattern">First Name doesn't match pattern</div>
      </div>
    </div>
  </div>

  <div class="formgroup">
    <label for="comment">Comment</label>
    <textarea name="" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>